.restore {
  margin: auto; }

.ui-card {
  width: 320px; }
  .ui-card__content label {
    width: 100%;
    margin-bottom: 10px; }
  .ui-card__actions .form__actions__link {
    margin: 10px 0; }

@media screen and (max-width: 420px) {
  .restore {
    padding: 0 10px;
    width: 100%; }
  .ui-card {
    width: 100%; } }
