.chat__main__form {
  background-color: #fff; }
  .chat__main__form .input__form {
    width: 100%;
    min-height: 60px;
    height: 60px;
    padding: 10px 8px;
    border-top: 1px solid rgba(155, 155, 155, 0.2);
    border-bottom: 1px solid rgba(155, 155, 155, 0.2); }
    .chat__main__form .input__form form {
      width: 100%;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
      .chat__main__form .input__form form input[type=text] {
        flex-grow: 1;
        border: 0;
        padding: 0 10px; }
      .chat__main__form .input__form form input[type=file] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1; }
      .chat__main__form .input__form form label {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%; }
        .chat__main__form .input__form form label i {
          color: #0B3835; }
