.error {
  position: fixed;
  z-index: 9999;
  right: 10px;
  top: 30px;
  max-width: 320px;
  border-radius: 4px;
  display: inline-block;
  background-color: #fce8e5;
  color: #ff3036;
  padding: 10px; }
  .error:hover .close {
    display: block; }
  .error .close {
    display: none;
    position: absolute;
    top: -20px;
    left: -20px; }
