.chat__sidebar__search-bar {
  width: 100%;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(155, 155, 155, 0.2); }
  .chat__sidebar__search-bar input[type=text] {
    width: 100%;
    background-color: rgba(174, 213, 129, 0.2);
    border: 0;
    padding: 8px;
    margin-right: 8px;
    border-radius: 4px;
    color: #000000; }
    .chat__sidebar__search-bar input[type=text]:focus {
      outline: 2px solid #aed581; }
