.chat__sidebar__users .sidebar__users__title {
  width: 100%;
  height: 54px;
  padding: 8px 16px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(155, 155, 155, 0.2);
  border-bottom: 1px solid rgba(155, 155, 155, 0.2); }

.chat__sidebar__users .sidebar__users__list {
  overflow: auto;
  height: 232px; }
  .chat__sidebar__users .sidebar__users__list a {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    text-decoration: none; }
  .chat__sidebar__users .sidebar__users__list a.user_active {
    background-color: #cbfb8e; }
  .chat__sidebar__users .sidebar__users__list .user {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    height: 58px;
    padding: 8px;
    min-width: 0; }
    .chat__sidebar__users .sidebar__users__list .user:hover {
      cursor: pointer;
      background-color: rgba(174, 213, 129, 0.2); }
    .chat__sidebar__users .sidebar__users__list .user__avatar {
      margin-right: 8px;
      position: relative;
      color: #0B3835; }
      .chat__sidebar__users .sidebar__users__list .user__avatar img {
        width: 42px;
        height: 42px;
        border-radius: 50%; }
      .chat__sidebar__users .sidebar__users__list .user__avatar span.online, .chat__sidebar__users .sidebar__users__list .user__avatar span.offline {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 12px;
        height: 12px;
        border: 2px solid #ffffff;
        border-radius: 50%; }
      .chat__sidebar__users .sidebar__users__list .user__avatar span.online {
        background-color: #4CAF50; }
      .chat__sidebar__users .sidebar__users__list .user__avatar span.offline {
        background-color: #FF7043; }
    .chat__sidebar__users .sidebar__users__list .user__data {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      flex: 1;
      min-width: 0; }
      .chat__sidebar__users .sidebar__users__list .user__data__name-text {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0; }
        .chat__sidebar__users .sidebar__users__list .user__data__name-text h4 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        .chat__sidebar__users .sidebar__users__list .user__data__name-text p {
          color: gray;
          margin: 0;
          padding: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .chat__sidebar__users .sidebar__users__list .user__data__noti {
        background-color: #aed581;
        color: #ffffff;
        padding: 1px 5px;
        margin-left: 15px;
        border-radius: 4px; }
