.chat__sidebar__logged-user {
  width: 100%;
  height: 75px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid rgba(155, 155, 155, 0.2); }
  .chat__sidebar__logged-user a {
    text-decoration: none; }
  .chat__sidebar__logged-user a, .chat__sidebar__logged-user .logged-user__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    min-width: 0; }
    .chat__sidebar__logged-user a .logged-user__avatar, .chat__sidebar__logged-user .logged-user__wrapper .logged-user__avatar {
      margin-right: 8px;
      color: #0B3835;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      overflow: hidden; }
      .chat__sidebar__logged-user a .logged-user__avatar img, .chat__sidebar__logged-user .logged-user__wrapper .logged-user__avatar img {
        width: 42px;
        height: 42px; }
    .chat__sidebar__logged-user a .logged-user__data, .chat__sidebar__logged-user .logged-user__wrapper .logged-user__data {
      flex: 1;
      min-width: 0; }
      .chat__sidebar__logged-user a .logged-user__data h4, .chat__sidebar__logged-user a .logged-user__data h5, .chat__sidebar__logged-user .logged-user__wrapper .logged-user__data h4, .chat__sidebar__logged-user .logged-user__wrapper .logged-user__data h5 {
        margin: 0;
        padding: 0;
        line-height: 1; }
      .chat__sidebar__logged-user a .logged-user__data h4, .chat__sidebar__logged-user .logged-user__wrapper .logged-user__data h4 {
        font-weight: 500;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .chat__sidebar__logged-user a .logged-user__data h5, .chat__sidebar__logged-user .logged-user__wrapper .logged-user__data h5 {
        font-size: 12px; }
