.ui-button.ui-button_icon {
  color: #0B3835; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-thumb {
  background: #aed581;
  border-radius: 4px; }

::-webkit-scrollbar-track {
  background: #ebf5e1; }

.chat {
  margin: auto;
  height: 600px;
  width: 100%;
  min-width: 320px;
  max-width: 1000px;
  display: inline-flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  position: relative; }
