$borser-separator-color: rgba(155, 155, 155, .2)
$dark-green: #0B3835
$green-color-light: rgba(174, 213, 129, .2)

.chat__main
    background-color: $green-color-light
    background-image: url('../../static/img/bg/memphis-colorful.png')
    height: 100%
    min-width: 320px
    flex-grow: 1
    display: inline-flex
    flex-direction: column
    justify-content: space-between
.chat__main.no-conversations
    align-items: center
    justify-content: center
    overflow: auto
    .chat__main__news
        display: inline-flex
        flex-wrap: wrap
        flex-direction: row
        align-items: flex-start
        justify-content: center
    .chat__main__choose
        margin-bottom: 20px
        text-align: center
        button
            i
                margin-right: 15px
@media screen and (max-width: 768px)
    .chat__main
        position: absolute
        left: 0
        width: 100%
        transition: all .4s linear
        -webkit-transform: translateZ(0)
        .chat__main__choose
            h2
                font-size: 20px
    .chat__main.no-conversations
        justify-content: flex-start
    .chat__main.chat__main_active
        left: 300px
